# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Firebase Service Account credentials (make sure to exclude sensitive files)
serviceAccountKey.json

# Environment variable files (never commit your .env or .env.* files)
.env
.env.local
.env.*.local

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# IDE or Editor configurations
.vscode/
.idea/

# NPM package lock (if you don't want to track the lock file)
package-lock.json

# Yarn lock file (if you're using Yarn and don't want to track it)
yarn.lock

# Coverage directory used by testing tools like
